body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
}


img::before {
    content: '';
    display: block;
    width: 100px;
    height: 100px;
    font-size: 5rem;
}

p::before {
    content: 'hello';
    background: red;
} 

